
<span id="See my products" class="Cooltext">See my products </span>
<br />
<link rel="stylesheet" href="~/css/Index.css" />

<div class="PositionClass">
    <div class="PositionClass2">
        Text 1
    </div>

<div class="PositionClass3">

       Text 2
    </div>

  </div>

<span id="Come Join" class="Cooltext">

</span>

<div id="Div1">
    <span id="Span1">Text</span>
    
</div>
<div
    id="Div2"><span id="Span2">Text</span>
</div>
<body>
    <img src="~/Images/Cristal.jpg" style="width:200px;height:200px;" align="left" />
    <p>Cristal Zavala</p>

    <div id="TestDiv">
        <br />

       

    <br />
       

    <p>
        6 Post No Followers 0 Following
    </p>

    </br>

    <p>I like this time in history. </p>
    </br>

    <p>Posts Reels IGTV Tagged </p>

</body>
<div class="TableDiv">
<table>
    <caption> Hello this is my Page</caption>

    <tbody>
        <tr>
            <td>
                <img src="~/Images/eeyore 1.gif " style="width:150px;height:150px;" />
            </td>
            <td>
                <img src="~/Images/eeyore 2.jpeg " style="width:150px;height:150px;" />
            </td>
            <td>
                <img src="~/Images/eeyore-butterfly3.png" style="width:150px;height:150px;" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/honey 1.jpg" style="width:150px;height:150px;" />
            </td>
            <td>
                <img src="~/Images/sadmood.jpeg" style="width:150px;height:150px;" />
            </td>
            <td>
                <img src="~/Images/sleep.png" style="width:150px;height:150px;" />
            </td>
        </tr>
    </tbody>

</table>
    </div>
<video controls style="width:100px;height:100px;" >
    <source src="~/videos/video.mp4"
            type="video/mp4"/>
</video>




