
<span id="See my products" class="Cooltext">See my products </span>
<br />
<link rel="stylesheet" href="~/css/Index.css"/>
<body>
    <img src="~/Images/Cristal.jpg" style="width:200px;height:200px;" align="left" />
    <p>Cristal Zavala</p>

    <button>
        Picture Like
    </button>
    <p/>
    <br/>

    <p>
        6 Post No Followers 0 Following
    </p>

    </br>

    <p>I like this time in history. </p>
    </br>
    <p>Posts Reels IGTV Tagged </p> 

</body>
<table>
    <tbody>
        <tr>
            <td>
            
        </td>
            <br />
        <br />


            <td>
               <img src="~/Images/eeyore 1.gif " style="width:150px;height:150px;"/>
                
            </td>
            <tr>
                <img src="~/Images/eeyore 2.jpeg " style="width:150px;height:150px;"/>
            </tr>
           
            <tr>
                <img src="~/Images/eeyore-butterfly3.png" style="width:150px;height:150px;"/>
            </td>
        </tr>
            <td>
                <img src="~/Images/honey 1.jpg" style="width:150px;height:150px;"/>
            </td>
            <td>
                <img src="~/Images/sadmood.jpeg"style="width:150px;height:150px;"/>
            </td>
            <td>
                <img src="~/Images/sleep.png"style="width:150px;height:150px;"/>
            </td>
        </tr>
    </tbody>

</table>
<audio "controls>
    
</audio>

<br />


<br />
<spam>About </spam><spam>Blog</spam><spam> Jobs</spam><spam>Help</spam>
<br />
<spam>English</spam><spam>2021</spam><spam>MyGram</spam>