
<table>
    <tbody>
        <tr>
            <td>
               <img src="~/Images/Dr Seuss.jpeg" style="width:150px;height:150px;"/>
                
            </td>
            <td>
                <spam>Image 2</spam>
            </td>
            <td>
                <spam>Image 3</spam>
            </td>
        </tr>
        <tr>
            <td>
                <spam>Image 4</spam>
            </td>
            <td>
                <spam>Image 5</spam>
            </td>
            <td><spam>Image 6</spam>
            </td>
        </tr>
    </tbody>

</table>

<br />


<br />
<spam>About </spam><spam>Blog</spam><spam> Jobs</spam><spam>Help</spam>
<br />
<spam>English</spam><spam>2021</spam><spam>MyGram</spam>