
<span id="See my products" class="Cooltext">See my products </span>
<br />

   

  

<span id="Come Join" class="Cooltext">

</span>



    <img src="~/Images/Cristal.jpg" style="width:200px;height:200px;" align="left" />
    <link rel="stylesheet" href="~/css/Index.css" />

    <p>Cristal Zavala</p>

    <div id="TestDiv">
        <br />



        <br />


        <p>
            <span class="number">
              6  </span> Post <span class="number">
                     No </span> Followers <span class="number">0 </span> Following
        </p>

        </br>

        <a>I like this time in history. </a>
        </br>

       


<div class="TableDiv">
    <br />
    <a class="name"> Posts</a>
    <a class="name">Reels</a>
    <a class="name">IGTV</a>
    <a class="name">Tagged </a>
    

    <table>

        <tbody>
            <tr>
                <td>
                    <img src="~/Images/eeyore 1.gif " style="width:150px;height:150px;" />
                </td>
                <td>
                    <img src="~/Images/eeyore 2.jpeg " style="width:150px;height:150px;" />
                </td>
                <td>
                    <img src="~/Images/eeyore-butterfly3.png" style="width:150px;height:150px;" />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Images/honey 1.jpg" style="width:150px;height:150px;" />
                </td>
                <td>
                    <img src="~/Images/sadmood.jpeg" style="width:150px;height:150px;" />
                </td>
                <td>
                    <video controls style="width:100px;height:100px;">
                        <source src="~/videos/video.mp4"
                                type="video/mp4" />
                </td>
            </tr>
        </tbody>

    </table>
</div>





