<link rel="stylesheet" href="~/css/Index.css" />
<div class="TableDiv">
    <table class="alignment">
        <tbody>
            <tr>
                <td rowspan="5">


                    <img src="~/Images/Cristal.jpg" style="width:200px;height:200px;" />
                </td>
            </tr>
            <tr>
                <td>

                    <span id="Come See My Wallpapers" class="Cooltext">

                    </span>
                </td>
            </tr>

            <tr>
                <td>


                    <p>Cristal Zavala</p>
                </td>

            </tr>

            <tr>
                <td>
                    <p>
                        <span class="number">
                            6
                        </span> Post <span class="number">
                            No
                        </span> Followers <span class="number">0 </span> Following
                    </p>
                </td>
            </tr>

            <tr>
                <td>

                    <a>I like this time in history. </a>
                </td>
            </tr>
            <tr>
                <td>
                    </div>
                    <div class="TableDiv">

                        <a class="name"> Posts</a>&nbsp;&nbsp;&nbsp;

                        <a class="name">Reels</a>&nbsp;&nbsp;&nbsp;

                        <a class="name">IGTV</a>&nbsp;&nbsp;&nbsp;

                        <a class="name">Tagged </a>&nbsp;&nbsp;&nbsp;

                    </div>

                </td>

            </tr>

        </tbody>

    </table>

    <table class="alignment SubImages">
        <tbody>
            <tr>
                <td>
                    <img src="~/Images/flower .jpeg" style="width:50px;height:50px;" />
                    <br />
                    <a> Warm And Cool Colors</a>
                </td>
                <td>
                    <img src="~/Images/lion image .jpeg" style="width:50px;height:50px;" />
                    <br />
                    <a> Awesome lions</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="alignment">
        <tbody>
            <tr>
                <td>
                    <div class="MainImagesContainer">
                        <img src="~/Images/eeyore 1.gif " style="width:150px;height:150px;" />
                        <div class="HoverText">
                            <span>like</span>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="MainImagesContainer">
                        <img src="~/Images/eeyore 2.jpeg " style="width:150px;height:150px;" />
                        <div class="HoverText">
                            <span>like</span>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="MainImagesContainer">
                        <img src="~/Images/eeyore-butterfly3.png" style="width:150px;height:150px;" />
                        <div class="HoverText">
                            <span>like</span>
                        </div>
                    </div>
</td>


            </tr>
            <tr>
                <td>
                    <div class="MainImagesContainer">
                        <img src="~/Images/honey 1.jpg" style="width:150px;height:150px;" />
                        <div class="HoverText">
                            <span>like</span>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="MainImagesContainer">
                        <img src="~/Images/sadmood.jpeg" style="width:150px;height:150px;" />
                        <div class="HoverText">
                            <span>like</span>
                        </div>
                    </div>

                </td>
                <td>
                    <video controls style="width:100px;height:100px;">
                        <source src="~/videos/video.mp4"
                                type="video/mp4" />
                    </video>
                </td>
            </tr>
        </tbody>

    </table>


    <div class="FooterContainer">
        <table>
            <tbody>
                <tr>
                    <td>
                        Log in to see my gram
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
