<table>
    <tbody>
        <tr>
            <td>
                <img src="~/Images/eeyore 1.gif " style="width:150px;height:150px;" />

            </td>
        <tr>
            <img src="~/Images/eeyore 2.jpeg " style="width:150px;height:150px;" />
        </tr>

        <tr>
            <img src="~/Images/eeyore-butterfly3.png" style="width:150px;height:150px;" />
            </td>
        </tr>
    <td>
        <img src="~/Images/honey 1.jpg" style="width:150px;height:150px;" />
    </td>
    <td>
        <img src="~/Images/sadmood.jpeg" style="width:150px;height:150px;" />
    </td>
    <td>
        <img src="~/Images/sleep.png" style="width:150px;height:150px;" />
    </td>
    </tr>
    </tbody>

</table>

<br />