
<form>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="">First Name:</label>
                </td>
                <td>
                    <input type="text" id="FirstName" />
                </td>
                <td>
                    <label for="">Last Name:</label>
                </td>
                <td>
                    <input type="text" id="LastName" />
                </td>
            </tr>
            <tr>
                <td>
                    <lable>Gender:</lable>

                </td>
                <td colspan="3">
                    <input type="radio" id="MaleGender" name="gender" />
                    <lable for="MaleGender">Male</lable>

                    <input type="radio" id="femaleGender" name="gender" />
                    <lable for="femalGender">female</lable>

                    <input type="radio" id="NoResponseGender" name="gender" />
                    <lable for="NoResponseGender">Prefer not to respond</lable>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label for="Email">Email:</label>
                    <input type="email" id="Email" />

                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <lable for="Favorite Color">Choose favorite color</lable>
                    <input type="color" id="favoritecolor" />
                </td>

            </tr>
            <tr>
                <td>
                    <lable for="Birthday">Birthday</lable>

                </td>
                <td>
                    <input type="date" id="Birthdya" min="1970-05-01"
                           max="2025-11-07" />






            <tr>
                <td>
                    <label for="Country"> Country of Recidence </label>
                </td>
                <td>
                    <select>
                        <option>
                            Usa
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <input type="submit" />

                </td>
            </tr>
        <td>
            <label for="ProfilePicture">Select profile pictures:</label>


        </td>
        <td colspan="3">
            <input type="file" id="ProfilePicture" multiple />
            <input type="number" />
        </td>
        </tr>


        </tbody>
    </table>
</form>