
body {
    color: blue;
    background-color: lightpink;
}
div{/*comments*/
    color:darkgreen}

table {
    color: purple;
}

button {
    color: blue;
}
   

    #Div1{background-color:green;

    }


#Span1 {
    background-color: aqua;
    color: white;
    /* display:none;*/
    visibility: hidden;
}
/*
#Div2 {
    background-color:purple;
}
*/

#Span2 {
    background-color: aqua;
    color: white;
    margin-top: 15px;
}

ul{
    color:black;
    list-style-type: square;
    list-style-position: inside;
    columns: 3;
}

::marker {
    color:deeppink;
}
   
#TestDiv p::selection{
    background-color:blue;
    color:yellow;
}

table{
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:black;
}