
body {
    color: blue;
    background-color: lightpink;
}
div{/*comments*/
    color:darkgreen}

table {
    color: purple;
}

button {
    color: blue;
}
   

    #Div1{background-color:green;

    }


#Span1{
    background-color:aqua;
    color:white;
  
   /* display:none;*/
    visibility: hidden;



#Div2 {
    background-color:purple;
}


#Span2 {
    background-color: aqua;
    color: white;
    margin-top: 15px;
}
