
body {
    color: blue;
    background-color: white;
}
div{/*comments*/
    color:darkgreen;

}

footer {
    color: brown;
    text-align: center;
}
#Main Product{
    color:darkgreen;
}
article{
    color:gray;
}

table {
    color: purple;
}

button {
    color: blue;
}

header {
    border-color:black;
    border-style:solid;
    border-width:4px;
    
}


    #Div1{background-color:green;

    }


#Span1 {
    background-color: aqua;
    color: white;
    /* display:none;*/
    visibility: hidden;
}
/*
#Div2 {
    background-color:purple;
}
*/

#Span2 {
    background-color: aqua;
    color: white;
    margin-top: 15px;
}

ul{
    color:black;
    list-style-type: square;
    list-style-position: inside;
    columns: 3;
}

::marker {
    color:deeppink;
}
   
#TestDiv p::selection{
    background-color:blue;
    color:yellow;
}

table {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    vertical-align: top;
}
caption {
    caption-side: top;
}
 




   .number{
       font-weight:bold;

   }
.name {
    color: gray !important;
    cursor: pointer;
}

.name:hover{
    color: black !important;
}

.alignment {
    margin-left: auto;
    margin-right: auto;
}
.alignment {
    margin-left: auto;
    margin-right: auto;
}
.alignment {
    margin-left: auto;
    margin-right: auto;
}

.SubImages img {
    border-radius: 50%;
}

.FooterContainer {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
}

.FooterContainer table {
    color: white !important;
    margin-left: auto;
    margin-right: auto;
}

@keyframes HideFooter {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

.FooterContainer {
    animation: HideFooter;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.MainImagesContainer {
    width: 150px!important;
    height: 150px!important;
}

.MainImagesContainer img {
    z-index: -3;
}

.HoverText {
    width: 150px !important;
    height: 150px !important;
    background-color: rgba(0,0,0,.8);
    display: none;
    z-index: 10;
}

.MainImagesContainer:hover .HoverText{
    display:block;
}

